{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row fluid d-flex justify-content-center align-items-center" style="height:90vh;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h1 class="pb-2">Login</h1>
                        <form accept="/rigister" method="POST">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control mt-1" placeholder="Username"
                                    required>
                                <input type="password" name="password" class="form-control mt-1" placeholder="Password"
                                    required>
                                <input type="password" name="Confirm_password" class="form-control mt-1"
                                    placeholder="Confirm Password" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your
                                    information with
                                    anyone else.</small>
                            </div>
                            <button type="submit" value="Register" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}